<app-nav></app-nav>
<div class="text-center add-container">
    <div class="form-add" [formGroup]="addGameForm">
        <h1 class="h3 mb-3 font-weight-normal">Agrega nuevo videojuego</h1>
        <div class="form-container">
            <div class="group-1">
                <div class="form-group">
                    <label for="inputTitle" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Ingresa el título" required
                        formControlName="title" />
                </div>
                <div class="form-group">
                    <label for="rating" class="form-label">Calificación</label>
                    <input type="number" class="form-control" id="rating" placeholder="Ingrese una calificación"
                        required formControlName="rating">
                </div>
            </div>

            <div class=" group-2">

                <div class="form-group">
                    <label for="inputDescription" class="form-labe">Descripción</label>
                    <textarea class="form-control" id="inputDescription" placeholder="Ingresa una descripción" required
                        formControlName="description"></textarea>
                </div>

            </div>

            <div class=" group-3">
                <div class="form-group">
                    <label for="inputDate" class="form-labe">Fecha de lanzamiento</label>
                    <input type="text" class="form-control" id="inputDate"
                        placeholder="Ingresa una fecha de lanzamiento" required formControlName="releaseDate" />
                </div>

                <div class="form-group">
                    <label for="downloads" class="form-labe">Número de descargas</label>
                    <input type="number" class="form-control" id="downloads"
                        placeholder="Ingrese el número de descargas" required formControlName="downloads">
                </div>
            </div>

            <div class=" group-4">
                <div class="form-check">
                    <label for="inputComingSoon" class="form-check-label"><input type="checkbox"
                            class="form-check-input" id="inputComingSoon" required
                            formControlName="comingSoon" />Próximamente</label>
                </div>
                <div class="form-group">
                    <label for="image" class="form-labe">Dirección de imagen</label>
                    <input type="text" class="form-control" id="image" placeholder="Ingrese una imagen" required
                        formControlName="image">
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block m-3" (click)="ngOnAdd()">Agregar</button>
        </div>
    </div>
</div>