.add-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    height: calc(100vh - 5rem);
    background-size: cover;
}
.form-add {
    width: 100%;
    padding: 30px;
    margin: auto;
    background-color: #c6d8e0a3;
    border-radius: 5px;
    max-width: 800px;
    justify-content: center;
    box-shadow: 1px 1px 5px #7497a7a3;
}




.form-container{
    display: flex;

    justify-content: center;
    gap: 8px;

}
.form-left{
    width: 100%;
}
.form-right{
    width: 100%;
}
/* .form-right{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 100%;
} */

.checkbox{
    font-weight: 400;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: auto;
    font-size: 16px;
    margin-bottom: 10px;

}