.navbar{
  position: sticky;
  top: 0;
  z-index: 100;
   box-shadow: 1px 1px 2px black;
}

.navbar img{
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: #f95959;
  border-radius: 100%;
  margin: 8px;
 
}

.separator {
  justify-content: space-between;
}
.active-link {
  color: #e3e3e3;
}

.first-color {
  background: #233142;
}

.second-color {
  background: #455d7a;
}

.third-color {
  background: #f95959;
}

.fourth-color {
  background: #e3e3e3;
}
