<div class="card-game">
    <h3 class="card-title">{{game.title}}</h3>

    <div class="mass-img">
        <img src="../../../assets/gamepad.png" alt="icon-gamepad" class="game-pad" draggable="false"/>
        <img class="card-img" draggable="false" src="{{game.image}}" alt="master" />
    </div>




    <div class="release-date">
        <div class="date">
            <p>Fecha de lanzamiento: {{game.releaseDate}}</p>
        </div>
        <div class="rating">
            <img draggable="false" *ngFor="let star of getRoundedRating(game.rating)" src="../../../assets/star.png"
                alt="rating-star" />


        </div>
    </div>
    <div class="description">

        <p>Description:<br />{{game.description}}</p>
    </div>
    <div class="actions">
        <button>Agregar al carrito</button>
    </div>
</div>